fastapi==0.95.0
uvicorn[standard]==0.22.0
joblib==1.3.2
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.3.2
xgboost==1.7.6
python-multipart==0.0.6
requests==2.31.0
streamlit
matplotlib
seaborn
fpdf
openpyxl
jinja2
